body {
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li {
   float: left;
}

li a {
  color: black;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}