{% extends 'base.html' %}
{% block title %}
<title> Ranklist | Battle Of Brain</title>
{% endblock %}
{% block content %}

<style>
 body {
        font-family : Times New Roman;
    }
</style>

<br>
<br>
<h4 align="center"> <i> {{contest.title}} Standings </i> </h4> <br>
<table class="table table-sm table-striped table-bordered w-auto" align="center">
  <thead>
    <tr>
      <td align="center"> <b> Rank </b> </td>
      <td align="center"> <b> User </b> </td>
      <td align="center"> <b> Total Solved </b> </td>
      <td align="center"> <b> A </b> </td>
      <td align="center"> <b> B </b> </td>
      <td align='center'> <b> C </b> </td>
      <td align='center'> <b> D </b> </td>
      <td align='center'> <b> E </b> </td>
    </tr>
  </thead>
    <tbody>
    
  </tbody>
</table>
{% endblock %}



