{% extends 'base.html' %}
{% block title %}
<title>Users</title>
{% endblock %}
{% block content %}
<br>
 <i> <h4 align="center"> Users Of Our Online Judge </h4></i>
<table class="table table-sm table-striped table-bordered w-auto" align="center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User Name</th>
      <th scope="col">Attempt</th>
      <th scope="col">Solved</th>
      <th scope="col">Institute</th>
      <th scope="col">Country</th>
    </tr>
  </thead>
    <tbody>
    {% for user in all_user %}
        <tr>
          <th scope="row"> {{user.id}}</th>
          <td align = 'center'> {{user.username}} </td>
          <td align = 'center'>{{user.problem_tried}} </td>
          <td align = 'center'>{{user.problem_solved}}</td>
          <td align = 'center'>{{user.institute}}</td>
          <td align = 'center'>{{user.country}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
