{% extends 'base.html' %}
{% block title %}
<title>Basic Concept</title>
{% endblock %}
{% block content %}
<style>
    .card {
        box-shadow: 0 0px 0px #E3E7EB;
    }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> ব্যাসিক </i></h5>
      <div class="card-body">
          <ul>
              <li> <a href="http://www.shafaetsplanet.com/?p=1437"> কেন আমি প্রোগ্রামিং শিখবো? </a> - <a href="https://bd.linkedin.com/in/shafaetcsedu">শাফায়েত আশরাফ</a> </li>
              <li> <a href="http://www.shafaetsplanet.com/?p=1400">  প্রোগ্রামিং কনটেস্ট এবং অনলাইন জাজ </a>- <a href="https://bd.linkedin.com/in/shafaetcsedu">শাফায়েত আশরাফ</a> </li>
              <li> <a href="http://www.shafaetsplanet.com/planetcoding/?p=1313">  অ্যালগরিদম কমপ্লেক্সিটি(বিগ “O” নোটেশন) </a>- <a href="https://bd.linkedin.com/in/shafaetcsedu">শাফায়েত আশরাফ</a> </li>
          </ul>
       </div>
    </div>
  </div>
</div>
{% endblock %}
