{% extends 'base.html' %}
{% block title %}
<title> Dynamic Programming </title>
{% endblock %}
{% block content %}

<style>
    .card {
        box-shadow: 0 0px 0px #E3E7EB;
    }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> ডাইনামিক প্রোগ্রামিং ব্যাসিক </i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href="http://www.shafaetsplanet.com/planetcoding/?p=1022">ডাইনামিক প্রোগ্রামিং-শুরুর কথা </a> - <a href="https://bd.linkedin.com/in/shafaetcsedu"> শাফায়েত আশরাফ </a>  </li>

          </ul>
          </div>
       </div>
    </div>
    <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> কয়েন চেঞ্জ (Coin Change) </i></h5>
      <div class="card-body">
          <div>
          <ul>
               <li> <a href="https://sites.google.com/site/programinggconcept/algorithm"> কয়েন চেঞ্জ </a>  </li>
              <li> <a href="http://www.shafaetsplanet.com/planetcoding/?p=1158"> কয়েন চেঞ্জ, রক ক্লাইম্বিং </a> - <a href="https://bd.linkedin.com/in/shafaetcsedu"> শাফায়েত আশরাফ </a> </li>
          </ul>
          </div>
       </div>
    </div>

      <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> লংগেস্ট কমন সাবসিকোয়েন্স (LCS)  </i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href="http://www.shafaetsplanet.com/planetcoding/?p=1862"> লংগেস্ট কমন সাবসিকোয়েন্স </a> - <a href="https://bd.linkedin.com/in/shafaetcsedu"> শাফায়েত আশরাফ </a> </li>
          </ul>
          </div>
       </div>
    </div>

     <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> লংগেস্ট ইনক্রিসিং সাবসিকোয়েন্স (LIS)) </i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href="http://www.shafaetsplanet.com/planetcoding/?p=1211"> ডিপি সলিউশন প্রিন্ট করা এবং LIS </a> - <a href="https://bd.linkedin.com/in/shafaetcsedu"> শাফায়েত আশরাফ </a> </li>
              <li> <a href="http://shakilcompetitiveprogramming.blogspot.com/2016/04/lis-and-variation.html"> LIS and variation </a>-<a href="https://www.facebook.com/shakil.ahmed.980">শাকিল আহমেদ</a>  </li>
          </ul>
          </div>
       </div>
    </div>

    <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> ০/১ ন্যাপসাক (0/1 knapsack) </i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href="http://www.shafaetsplanet.com/planetcoding/?p=1072">ডিপি 'স্টেট', NcR, ০-১ ন্যাপস্যাক </a> - <a href="https://bd.linkedin.com/in/shafaetcsedu"> শাফায়েত আশরাফ </a></li>
              <li> <a href="https://sites.google.com/site/programinggconcept/0-1-knapsack"> ০/১ ন্যাপসাক (0/1 knapsack) </a> </li>

          </ul>
          </div>
       </div>
    </div>

  </div>
</div>
{% endblock %}
