{% extends 'base.html' %}
{% block title %}
<title>DS</title>
{% endblock %}
{% block content %}

<style>
    .card {
        box-shadow: 0 0px 0px #E3E7EB;
    }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> অ্যাারে (Array) </i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href=""> অ্যারে ব্যাসিক অপারেশন - হাসান আবদুল্লাহ </a>  </li>
              <li> <a href=""> অ্যারে কমপ্রেশন/ম্যাপিং - শাফায়েত আশরাফ </a> </li>
          </ul>
          </div>
       </div>
    </div>
    <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> লিংকড লিস্ট (Linked List) </i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href=""> লিংকড লিস্ট - শাফায়েত আশরাফ </a> </li>
              <li> <a href=""> লিংকড লিস্ট ব্যাসিক অপারেশন - হাসান আবদুল্লাহ </a> </li>
              <li> <a href=""> লিংকড লিস্ট - অনিন্দ্য পাল </a> </li>
              <li> <a href=""> লিংকড লিস্ট – সি - মুনতাসির ওয়াহেদ </a> </li>
              <li> <a href=""> ডাটা স্ট্রাকচার ও লিংকড লিস্ট - আলাভোলা </a> </li>
              <li> <a href=""> কোডিং লিংকড লিস্ট - আলাভোলা </a> </li>
              <li> <a href=""> ডাবলি লিংকড লিস্ট - মুনতাসির ওয়াহেদ </a> </li>
          </ul>
          </div>
       </div>
    </div>

     <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> স্ট্যাক (Stack)  </i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href=""> স্ট্যাক - শাফায়েত আশরাফ  </a> </li>
              <li> <a href=""> স্ট্যাক (ভিডিও) - তামিম শাহরিয়ার সুবীন </a> </li>
              <li> <a href=""> স্ট্যাক ব্যাসিক অপারেশন - হাসান আবদুল্লাহ </a> </li>
              <li> <a href=""> স্ট্যাক বেসিক ডাটা স্ট্রাকচার - আহমাদ ফাইয়াজ </a> </li>
              <li> <a href=""> ডাটা স্ট্রাকচার: স্ট্যাক (Stack) - আলাভোলা </a> </li>
              <li> <a href=""> স্ট্যাক – অ্যারে ইমপ্লিমেন্টেশন - মুনতাসির ওয়াহেদ </a> </li>
              <li> <a href=""> স্ট্যাক – লিংকড লিস্ট ইমপ্লিমেন্টেশন - মুনতাসির ওয়াহেদ </a> </li>
          </ul>
          </div>
       </div>
    </div>

    <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> কিউ (Queue) </i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href=""> কিউ ব্যাসিক অপারেশন - হাসান আবদুল্লাহ  </a> </li>
              <li> <a href=""> কিউ (ভিডিও) - তামিম শাহরিয়ার সুবীন </a> </li>
               <li> <a href=""> কিউ বেসিক ডাটা স্ট্রাকচার - আহমাদ ফাইয়াজ  </a> </li>
              <li> <a href=""> ডাটা স্ট্রাকচার: কিউ(Queue) - আলাভোলা </a> </li>
               <li> <a href=""> সি++ এর Priority Queue - আবু আসিফ খান চৌধুরী </a> </li>
              <li> <a href=""> প্রায়োরিটি কিউ (ভিডিও) - তামিম শাহরিয়ার সুবীন </a> </li>
          </ul>
          </div>
       </div>
    </div>

    <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> ট্রি (Tree) </i></h5>
      <div class="card-body">
          <div>
          <ul>
               <li> <a href=""> ট্রি ডেটা স্ট্রাকচার - হাসান আবদুল্লাহ </a> </li>
              <li> <a href=""> ট্রি - ১ (Tree - 1) - ট্রি-এর প্রাথমিক ধারণা (ভিডিও) - তামিম শাহরিয়ার সুবীন </a> </li>
               <li> <a href=""> ট্রি - ২ (Tree - 2) - কোনটি ট্রি কোনটি নয়? (ভিডিও) - তামিম শাহরিয়ার সুবীন </a> </li>
              <li> <a href=""> বাইনারি ট্রি প্রিঅর্ডার ট্রাভার্সাল (ভিডিও) - তামিম শাহরিয়ার সুবীন </a> </li>
               <li> <a href=""> বাইনারি ট্রি পোস্টঅর্ডার ট্রাভার্সাল (ভিডিও) - তামিম শাহরিয়ার সুবীন </a> </li>
              <li> <a href=""> বাইনারি ট্রি ইনঅর্ডার ট্রাভার্সাল (ভিডিও) - তামিম শাহরিয়ার সুবীন </a> </li>
          </ul>
          </div>
       </div>
    </div>

  </div>
</div>
{% endblock %}
