{% extends 'base.html' %}
{% block title %}
<title> Graph Theroy </title>
{% endblock %}
{% block content %}

<style>
    .card {
        box-shadow: 0 0px 0px #E3E7EB;
    }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> গ্রাফ থিওরি ব্যাসিক </i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href="http://www.shafaetsplanet.com/planetcoding/?p=143">গ্রাফ থিওরিতে হাতেখড়ি</a> - <a href="https://bd.linkedin.com/in/shafaetcsedu"> শাফায়েত আশরাফ </a>  </li>
              <li> <a href="http://www.shafaetsplanet.com/planetcoding/?p=184">অ্যাডজেসেন্সি ম্যাট্রিক্স</a> - <a href="https://bd.linkedin.com/in/shafaetcsedu"> শাফায়েত আশরাফ </a>  </li>
              <li> <a href="http://www.shafaetsplanet.com/planetcoding/?p=211">  অ্যাডজেসেন্সি লিস্ট </a> - <a href="https://bd.linkedin.com/in/shafaetcsedu"> শাফায়েত আশরাফ </a> </li>
              <li> <a href="http://www.progkriya.org/gyan/adj-list-trick.html">  অ্যাডজেসেন্সি লিস্ট ট্রিক </a> - <a href="https://www.facebook.com/mirwasi"> মীর ওয়াসি আহমেদ </a> </li>
          </ul>
          </div>
       </div>
    </div>
    <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> ব্রেথড ফার্স্ট সার্চ-বিএফএস (Breadth First Search-BFS)  </i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href="http://www.shafaetsplanet.com/planetcoding/?p=604"> ব্রেডথ ফার্স্ট সার্চ (BFS)  </a> - <a href="https://bd.linkedin.com/in/shafaetcsedu"> শাফায়েত আশরাফ </a> </li>
              <li> <a href="http://www.shafaetsplanet.com/planetcoding/?p=521">  ট্রি এর ডায়ামিটার নির্ণয় </a>- <a href="https://bd.linkedin.com/in/shafaetcsedu"> শাফায়েত আশরাফ </a> </li>
          </ul>
          </div>
       </div>
    </div>

      <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> ডেপথ ফার্স্ট সার্চ-ডিএফএস (Depth First Search-DFS)  </i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href="http://www.shafaetsplanet.com/planetcoding/?p=973"> ডেপথ ফার্স্ট সার্চ এবং টপোলোজিকাল সর্ট  </a> - <a href="https://bd.linkedin.com/in/shafaetcsedu"> শাফায়েত আশরাফ </a> </li>
              <li> <a href="https://hellohasan.com/2016/08/21/%e0%a6%ab%e0%a7%8d%e0%a6%b2%e0%a6%be%e0%a6%a1-%e0%a6%ab%e0%a6%bf%e0%a6%b2-flood-fill-algorithm-bengali">ফ্লাড ফিল অ্যালগরিদম</a>- <a href="https://www.facebook.com/hasan.cse91"> হাসান আবদুল্লাহ </a> </li>
          </ul>
          </div>
       </div>
    </div>

      <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> গ্রাফ থিওরী - শর্টেস্ট পাথ (Shortest Path Finding) </i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href="http://www.shafaetsplanet.com/planetcoding/?p=1500"> ডায়াক্সট্রা  </a> - <a href="https://bd.linkedin.com/in/shafaetcsedu"> শাফায়েত আশরাফ </a> </li>
              <li> <a href="http://www.shafaetsplanet.com/planetcoding/?p=1927">  ফ্লয়েড ওয়ার্শল </a>- <a href="https://bd.linkedin.com/in/shafaetcsedu"> শাফায়েত আশরাফ </a> </li>
              <a href="http://www.shafaetsplanet.com/planetcoding/?p=2044">  বেলম‍্যান ফোর্ড </a>- <a href="https://bd.linkedin.com/in/shafaetcsedu"> শাফায়েত আশরাফ </a> </li>
          </ul>
          </div>
       </div>
    </div>

     <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> মিনিমাম স্প্যানিং ট্রি (Minimum Spanning Tree)  </i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href="http://www.shafaetsplanet.com/planetcoding/?p=692"> মিনিমাম স্প্যানিং ট্রি(প্রিম অ্যালগোরিদম) </a> - <a href="https://bd.linkedin.com/in/shafaetcsedu"> শাফায়েত আশরাফ </a> </li>
              <li> <a href="http://www.shafaetsplanet.com/planetcoding/?p=825">  মিনিমাম স্প্যানিং ট্রি ২ (ক্রুসকাল অ্যালগোরিদম) </a>- <a href="https://bd.linkedin.com/in/shafaetcsedu"> শাফায়েত আশরাফ </a> </li>
          </ul>
          </div>
       </div>
    </div>

    <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> বাইকানেক্টেড কম্পোনেন্ট , ব্রিজ, আরটিকুলেশন পয়েন্ট (Bi-connected Component, Bridge, Articulation Point) </i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href="http://www.shafaetsplanet.com/planetcoding/?p=2504">আর্টিকুলেশন পয়েন্ট এবং ব্রিজ </a> - <a href="https://bd.linkedin.com/in/shafaetcsedu"> শাফায়েত আশরাফ </a></li>
              <li> <a href="http://blog.faiyaz.info/bcc/"> বাইকানেক্টেড কম্পোনেন্ট , ব্রিজ, আরটিকুলেশন পয়েন্ট [ থিওরি ] </a>-<a href="https://www.facebook.com/faiyaz26s"> আহমাদ ফাইয়াজ </a> </li>

          </ul>
          </div>
       </div>
    </div>

  </div>
</div>
{% endblock %}
