{% extends 'base.html' %}
{% block title %}
<title>Languages</title>
{% endblock %}
{% block content %}

<style>
    .card {
        box-shadow: 0 0px 0px #E3E7EB;
    }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> সি (C) </i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href="https://c.howtocode.com.bd/">বাংলায় সি প্রোগ্রামিং শিক্ষা </a>  </li>
              <li> <a href="http://jakir.me/c/"> বাংলায় সি প্রোগ্রামিং ল্যাঙ্গুয়েজ বই এবং টিউটোরিয়াল </a> - <a href="https://www.facebook.com/jakir007"> জাকির হোসাইন </a>  </li>
              <li> <a href="http://shoshikkha.com/archives/1394">  সি টিউটোরিয়াল  </a> - <a href="https://www.facebook.com/immuntasir"> মুনতাসির ওয়াহেদ </a> </li>
          </ul>
          </div>
       </div>
    </div>
    <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> সি প্লাস প্লাস (C++)  </i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href="http://shoshikkha.com/archives/category/computer-science/programming/language/c"> সি প্লাস প্লাস টিউটোরিয়াল  </a> - <a href="#">মুনতাসির ওয়াহেদ</a> </li>
              <li> <a href="http://www.techsharif.com/cpptutorial/">  বাংলা সি প্লাস প্লাস প্রোগ্রামিং ভিডিও টিউটোরিয়াল </a>- <a href="https://www.facebook.com/Sharif.Chowdhury.Cse">  শরীফ চৌধুরী </a> </li>
          </ul>
          </div>
       </div>
    </div>

     <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> জাভা (Java)  </i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href="https://java.howtocode.com.bd/"> জাভা  </a> </li>
              <li> <a href="http://dimikcomputing.com/course/javaee-online-course/"> জাভা এন্টারপ্রাইজ এডিশন   </a>- <a href="https://github.com/me-shaon/bangla-programming-resources/blob/master/www.therapbd.com "> Therap (BD) Ltd. </a> </li>
          </ul>
          </div>
       </div>
    </div>

    <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> পাইথন (Python) </i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href="https://python.howtocode.com.bd/"> পাইথন (Python)  </a> </li>
              <li> <a href="https://python.howtocode.com.bd/"> হাতে-কলমে পাইথন - অনিরুদ্ধ অধিকারী </a> </li>
              <li> <a href="http://masnun.com/tutorials"> বাংলায় পাইথন - আবু আশরাফ মাসনুন </a> </li>

          </ul>
          </div>
       </div>
    </div>

  </div>
</div>
{% endblock %}
