{% extends 'base.html' %}
{% block title %}
<title> Recursion </title>
{% endblock %}
{% block content %}

<style>
    .card {
        box-shadow: 0 0px 0px #E3E7EB;
    }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-10 card mb-8  mt-4 left  top">
      <h5 class="card-header"> <i> রিকার্শন, ব্যাকট্র্যাকিং</i></h5>
      <div class="card-body">
          <div>
          <ul>
              <li> <a href="https://anindyaspaul.com/blog/2015/12/25/recursion/">রিকার্শন (Recursion) </a> - <a href="https://anindyaspaul.com/"> অনিন্দ্য পাল </a>  </li>
              <li> <a href="https://hellohasan.com/tag/recursion/"> রিকার্সিভ ফাংশনের সৌন্দর্য</a> - <a href="https://www.facebook.com/hasan.cse91"> হাসান আবদুল্লাহ </a>  </li>
              <li> <a href="http://www.shafaetsplanet.com/planetcoding/?p=1266"> ব্যকট্র্যাকিং বেসিক এবং পারমুটেশন জেনারেটর </a> - <a href="https://bd.linkedin.com/in/shafaetcsedu"> শাফায়েত আশরাফ </a> </li>
              <li> <a href="http://subeen.com/%E0%A6%9F%E0%A6%BE%E0%A6%93%E0%A7%9F%E0%A6%BE%E0%A6%B0-%E0%A6%85%E0%A6%AB-%E0%A6%B9%E0%A7%8D%E0%A6%AF%E0%A6%BE%E0%A6%A8%E0%A7%9F/"> টাওয়ার অফ হ্যানয় </a> - <a href="https://www.facebook.com/nishat.rini"> তামান্না নিশাত রিনি </a> </li>
              <li> <a href="http://shoshikkha.com/archives/2143"> ইনক্লুশন এক্সক্লুশন – রিকার্শন </a> - <a href="https://www.facebook.com/immuntasir"> মুনতাসির ওয়াহেদ </a> </li>
          </ul>
          </div>
       </div>
    </div>
  </div>
</div>
{% endblock %}
